body{
    height: 100vh;
}
nav{
    
    height: 100vh;
    background: #2d2d2d;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;

}
nav button{
    padding: 5px 20px;
    background: #3b3b3b;
    border: none;
    color: gainsboro;
    transition: 150ms;
}
nav button:hover{
    background: rgba(255, 255, 255, 0.911);
    transition: 150ms;
    color: black;
}
*{
    outline: none !important;
    
}
