<div class="dashboard-container">
  <div class="dashboard-shortcut-buttons">
    <ul>
      <li class="quickButton">
        <p>
          إضافة زبون
        </p>
      </li>
      <li class="quickButton">
        <p>
          إضافة منتج
        </p>
      </li>
      <li class="quickButton">
        <p>
          إضافة سجل شراء
        </p>
      </li>
      <li class="quickButton">
        <p>
          إضافة سجل بيع
        </p>
      </li>
    </ul>
  </div>
  <div class="content-m">
    <div class="col-sm-6">
      <div class="row">
        <div class="panel">
          <div class="row">
            <div class="col-sm-6">s</div>
            <div class="col-sm-6">d</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="panel">
          <div class="row">
            hey
          </div>
        </div>
      </div>
    </div>
  </div>