/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

#dFlexMain {
  height: 100vh;
  display: flex;
}

* {
  outline: none !important;
  font-family: "Segoe UI", Arial;
}

nav {
  z-index: 900;
  width: 250px;
  height: 100vh;
  background: #323237;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  button {
    padding: 5px 20px;
    background: #3b3b3b;
    border: none;
    color: gainsboro;
    transition: 150ms;
  }
  .sidebar-header {
    text-align: center;
    display: block;
    height: 60px;
    line-height: 60px;
    background-color: #272b35;
    border-bottom: 1px solid #232730;
    color: #fff;
    padding: 0 20px 0 30px;
    clear: both;
    z-index: 10;
    position: relative;
    a {
      background-position: 0px 0px;
      color: #fff;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
      text-transform: uppercase;

      font-size: 34px;
      letter-spacing: 0.14px;
      line-height: 60px;
      text-decoration: none;
    }
    .dropdown .static-popover {
      color: hsl(0, 0%, 100%);
      font-size: 14px;
      letter-spacing: 0.14px;
      line-height: 60px;
      div {
        color: hsl(0, 0%, 100%);
        font-size: 14px;
        letter-spacing: 0.14px;
        line-height: 60px;
        a {
          background-color: hsl(204, 92%, 63%);
          background-position: 0px 0px;
          border-radius: 22px;
          color: hsl(0, 0%, 70%);
          display: flex;
          font-family: "Segoe UI", Arial;
          font-size: 14px;
          letter-spacing: 0.14px;
          line-height: 60px;
          margin: 14px 0px 10px;
          padding: 5px;
        }
      }
    }
  }
  .menu-items {
    color: #b2b2b2;
    list-style: none;
    padding: 0;
    .menu-title {
      font-family: "Segoe UI", Arial;
      color: #626262;
      padding: 5px 25px !important;
      font-size: 16px;
      margin-top: 15px;
    }

    li.EmergeHoverColor:hover {
      a {
        color: #ff9800 !important;
        padding-right: 20px !important;
        transition: 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
      }
      cursor: pointer;
    }
    .EmergeHoverColor.active {
      background: #ff9800 !important;
      a {
        padding-right: 20px;
        color: #000 !important;
      }
      :hover {
        color: #000 !important;
      }
    }
    li {
      display: block;
      padding: 0;
      clear: right;
      padding-right: 40px;
      line-height: 17px !important;
      a {
        transition: 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
        min-height: 37px;
        line-height: 37px;
        padding-right: 5px;
        font-size: 13px;
        clear: both;
        width: 70%;
        color: #b2b2b2;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
      }
    }
  }
}

main {
  flex-grow: 1;
}
